@charset "UTF-8";

/*
  功能：文本溢出显示省略号
  @param {number} $line 文本行数.
*/
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

/*
  功能：正方形
  @param {number} $length 边长.
*/
@mixin square($length) {
  width: $length;
  height: $length;
}

/*
  功能：圆形
  @param {number} $length 边长.
*/
@mixin circle($radius) {
  @include square($radius * 2);
  border-radius: $radius;
}

/*
  功能：单行文本垂直居中
  @param {number} $height 高度.
*/
@mixin height($height) {
  height: $height;
  line-height: $height;
}

/*
  功能：盒阴影
  @param {number} $h 水平距离.
  @param {number} $v 垂直距离.
  @param {number} $blur 模糊距离.
  @param {number} $color 阴影颜色.
*/
@mixin box-shadow($h:1px, $v:1px, $blur:1px, $color:black) {
  box-shadow: $h $v $blur $color;
}

/*
  功能：点击动效
  @param {number} $selector 选择器.
*/
@mixin click-effect($selector) {
  #{$selector}:active {
    opacity: 0.8;
  }
}

// Clearfix
// @see http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin mask($opacity: 0.2) {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: $opacity;
    content: '';
  }
}
