// coupon 图片:
$coupon-width: (42rem/100);
$coupon-height: (42rem/100);
$coupon-bg-image: url(../img/icon.png);
$coupon-bg-position: (-112rem/100) (0rem/100);
$coupon-bg-size: (154rem/100) (139rem/100);
@mixin i-coupon(){
  display: inline-block;
  width: $coupon-width;
  height: $coupon-height;
  background: $coupon-bg-image $coupon-bg-position no-repeat;
  background-size: $coupon-bg-size;
}

// level 图片:
$level-width: (33rem/100);
$level-height: (27rem/100);
$level-bg-image: url(../img/icon.png);
$level-bg-position: (0rem/100) (-112rem/100);
$level-bg-size: (154rem/100) (139rem/100);
@mixin i-level(){
  display: inline-block;
  width: $level-width;
  height: $level-height;
  background: $level-bg-image $level-bg-position no-repeat;
  background-size: $level-bg-size;
}

// money 图片:
$money-width: (42rem/100);
$money-height: (42rem/100);
$money-bg-image: url(../img/icon.png);
$money-bg-position: (-112rem/100) (-52rem/100);
$money-bg-size: (154rem/100) (139rem/100);
@mixin i-money(){
  display: inline-block;
  width: $money-width;
  height: $money-height;
  background: $money-bg-image $money-bg-position no-repeat;
  background-size: $money-bg-size;
}

// over 图片:
$over-width: (102rem/100);
$over-height: (102rem/100);
$over-bg-image: url(../img/icon.png);
$over-bg-position: (0rem/100) (0rem/100);
$over-bg-size: (154rem/100) (139rem/100);
@mixin i-over(){
  display: inline-block;
  width: $over-width;
  height: $over-height;
  background: $over-bg-image $over-bg-position no-repeat;
  background-size: $over-bg-size;
}

