@charset "UTF-8";
@import '../../../util/css/util';
@import '_icon';

$height: 2px !default;
.g-container{
  $height: 3px;
  $height: 4px !global;
  height: $height;
  a{
    @include i-coupon;
  }
}
body{
  height: $height;
}
