@charset "UTF-8";
@import './lib/_normalize';

/*样式重置*/
body {
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
  font-size: .33rem;
  line-height: 1.5;
}

ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border-style: none;
  max-width: 100%;
  max-height: 100%;
}

iframe {
  border: none;
}

/*页面容器宽度*/
$containerMinWidth: 360px;
$containerMaxWidth: 720px;

/*外层容器*/
.g-container {
  min-width: $containerMinWidth;
  max-width: $containerMaxWidth;
}

@media screen and (min-width: $containerMaxWidth) {
  .g-container {
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
}


